<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block content %}


  <div class="h4 ph5 flex items-center bg-purple">
    <div><a class="f1 link hover-light-blue white b avenir lh-copy no-underline" href="{% url 'index' %}">freeshelf &nbsp &nbsp &nbsp</a></div>
      <div><a class="ba br-pill ph5 link hover-light-blue white b avenir f3 lh-copy no-underline" href="{% url 'books' %}">Books</a></div> 
      <div><a class="ba br-pill ph5 link hover-light-blue white b avenir f3 lh-copy no-underline" href="{% url 'registration_register' %}?next=/core/books/">Register</a></div>
      <div>{% if user.is_authenticated %}
          <dt><a class="ba br-pill ph5 link hover-light-blue white b avenir f3 lh-copy no-underline" href="{% url 'auth_logout' %}?next=/core/books/">Logout</a></dt>   
          {% else %}
          <dt><a class="ba br-pill ph5 link hover-light-blue white b avenir f3 lh-copy no-underline" href="{% url 'auth_login' %}?next=/core/books/">Login</a></dt> 
          {% endif %}</div>
      <div>{% if user.is_authenticated %}
          <dt class="ph5 avenir white f3 lh-copy">Hello, <a class="b">{{ user.get_username }}</a></dt>
          {% endif %}</div>
  </div>
  <br>
  <br>
  

  <div class="bb b--light-gray flex items-center">        
    <div><code><a class="ph5 link grow hover-light-blue red b avenir f3 lh-copy no-underline" href="{% url 'awk' %}">AWK</a></code></div>
    <div><code><a class="ph5 link hover-light-blue red b avenir f3 lh-copy no-underline" href="{% url 'bash' %}">Bash</a></code></div>
    <div><code><a class="ph5 link hover-light-blue red b avenir f3 lh-copy no-underline" href="{% url 'html' %}">HTML/CSS</a></code></div>
    <div><code><a class="ph5 link hover-light-blue red b avenir f3 lh-copy no-underline" href="{% url 'javascript' %}">JavaScript</a></code></div>
    <div><code><a class="ph5 link hover-light-blue red b avenir f3 lh-copy no-underline" href="{% url 'ruby' %}">Ruby</a></code></div>
  </div>
  <br>
  <br>


  <h2 class="ph5 avenir purple f1 lh-title">Books</h2>
  {% if book_list %}
  <ul>
    {% for book in book_list %}
    <br>
    <div class="ph6 bb b--purple br4 bw1 w-90"><br>
      <dd><strong><a class="avenir f3 red no-underline link hover-light-blue" href="{{ book.uRL }}">  {{ book.title }}</a></strong></dd><br>
      <dd><a class="avenir f4"> <strong>Author: </strong>{{ book.author }}</a></dd><br>
      <dd><a class="avenir f4"> <strong>Description: </strong>{{ book.description }}</a></dd><br>
      <dd><a class="avenir f4"> <strong>Date Added: </strong>{{ book.date_added }}</a></dd><br>
      <!-- <dd><a class="avenir f4"> <strong>URL: </strong>{{ book.uRL }}</a></dd><br> -->
      <!-- <dd><a> <strong>Slug: </strong>{{ book.slug }}</a></dd> -->
      <dd><a class="avenir f4"> <strong>Category: </strong>{{ book.category_or_Programming_Language }}</a></dd>
      <br><br><br>
    </div>
 
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}       
{% endblock %}


