<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% extends "base_generic.html" %}

{% block content %}
<h1>Freeshelf</h1>
  <body>
  <pre>{{value}}</pre>
  <h2>Recently added books:</h2>
  {% if book_list %}
  <ul>
    {% for book in book_list %}
      <pre>{{value}}</pre>
      <dd><strong><a href="{{ book.uRL }}">  {{ book.title }}</a></strong></dd>
      <dd><a> <strong>Author: </strong>{{ book.author }}</a></dd>
      <dd><a> <strong>Description: </strong>{{ book.description }}</a></dd>
      <dd><a> <strong>Date Added: </strong>{{ book.date_added }}</a></dd>
      <dd><a> <strong>URL: </strong>{{ book.uRL }}</a></dd>
      <dd><a> <strong>Slug: </strong>{{ book.slug }}</a></dd>
      <dd><a> <strong>Category: </strong>{{ book.category_or_Programming_Language }}</a></dd>
      <pre>{{value}}</pre>
      
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}       
{% endblock %}